ai.onnx;13;Add,And,Cast,Ceil,Clip,Concat,Constant,ConstantOfShape,Conv,ConvTranspose,CumSum,Div,Equal,Erf,Exp,Expand,Gather,GatherElements,GatherND,GreaterOrEqual,LeakyRelu,Less,LessOrEqual,MatMul,Mul,Neg,NonZero,Not,Pad,Pow,RandomNormalLike,Range,ReduceMax,ReduceMean,ReduceSum,Reshape,ScatterND,Shape,Sigmoid,Slice,Softmax,Softplus,Split,Sqrt,Squeeze,Sub,Tanh,Tile,Transpose,Unsqueeze,Where
